<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>553315264572-ri2s1hmon6f3kd9u8pdj7dq24ggcag50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553315264572-ri2s1hmon6f3kd9u8pdj7dq24ggcag50</string>
	<key>API_KEY</key>
	<string>AIzaSyCHBLpcGiTGy00LIJMHEnflxJvPA-xgiXE</string>
	<key>GCM_SENDER_ID</key>
	<string>553315264572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisyoung.PushTest</string>
	<key>PROJECT_ID</key>
	<string>pushtest-f9b72</string>
	<key>STORAGE_BUCKET</key>
	<string>pushtest-f9b72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553315264572:ios:7329ef237ed22818</string>
	<key>DATABASE_URL</key>
	<string>https://pushtest-f9b72.firebaseio.com</string>
</dict>
</plist>